.profile {
    max-width: 60rem;
    margin: 0 auto;
}

.profileMain {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.profile h4>span {
    font-size: 1rem;
    font-weight: normal;
}

.profile header {
    display: flex;
    justify-content: space-between;
}

.addressSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.6rem;
    margin-top: 0.6rem;
}

.addAddress button {
    margin: 1rem auto;
    display: block;
    outline: none;
}

.addAddress p {
    text-align: center;
}

@media screen and (max-width:768px) {
    .profileMain {
        display: grid;
        grid-gap: 1rem;
    }
}