.header {
    height: 15rem;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 187, 0, 1), rgba(255, 187, 0, 0.8));
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #123;
    position: relative;
    top: -100vh;
    animation: dropdown 0.25s 0.5s forwards;
}

@keyframes dropdown {
    from {
        top: -100vh;
    }
    to {
        top: 0;
        position: static;
    }
}

.main {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    animation: leftin 0.25s ease-in-out 1s 1 normal forwards;
    left: -100vw;
    position: relative;
}

@keyframes leftin {
    from {
        left: -100vw
    }
    to {
        left: 0
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 3rem;
    align-items: center;
    background: lightblue;
    font-weight: bold;
}

.dropdown {
    color: aquamarine;
    border-top: 2px solid white;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background: blue;
    transform: translateX(-40%);
    border-radius: 0 0 5px 5px;
    opacity: 0;
    box-shadow: 2px 2px 2px goldenrod;
}

.dropdown li {
    list-style: none;
    margin: 1rem;
}

.dropdown button::before {
    content: " ";
    display: inline-block;
    border: 2px solid white;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin-right: 0.25rem;
}

.hasdropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

.navbar button {
    font-weight: bold;
}