.address,
.favAddress {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.favAddress {
    background-color: #ffbb70;
    font-weight: bold;
    animation: bgcolor 0.4s 1 ease-in-out;
}

@keyframes bgcolor {
    from {
        background-color: white;
    }
    to {
        background-color: #ffbb70;
    }
}

.icons {
    display: flex;
    justify-content: space-between;
}

.usps {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usps>span {
    font-size: small;
    font-weight: bold;
}

.checkBtn {
    font-size: small;
    font-weight: bold;
    background-color: transparent;
    border: none;
    display: inline;
    border-bottom: 3px solid black;
    color: brown;
}

.tooltip {
    outline: none;
}

.tooltip::before {
    content: attr(data-tooltiptext);
    background-color: #333;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #ddd;
    width: max-content;
    position: absolute;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.tooltip::after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

.tooltip.tooltipTop::before {
    bottom: calc(100% + 10px);
    left: 50%;
    transform-origin: left bottom;
}

.tooltip.tooltipTop::after {
    border-top-color: #333;
    bottom: 100%;
    border-bottom-width: 0;
    left: 50%;
    transform-origin: top center;
}

.tooltip.tooltipTop:hover.tooltip::before,
.tooltip.tooltipTop:hover.tooltip::after {
    transform: scale(1) translateX(-50%);
}

.tooltip.tooltipRight::before {
    left: calc(100% + 10px);
    top: 50%;
    transform-origin: left top;
}

.tooltip.tooltipRight::after {
    border-right-color: #333;
    border-left-width: 0;
    top: 50%;
    transform-origin: right top;
}

.tooltip.tooltipRight:hover.tooltip::before,
.tooltip.tooltipRight:hover.tooltip::after {
    transform: scale(1) translateY(-50%);
}

.tooltip.tooltipLeft::before {
    right: calc(100% + 10px);
    top: 50%;
    transform-origin: right top;
}

.tooltip.tooltipLeft::after {
    border-left-color: #333;
    border-right-width: 0;
    top: 50%;
    right: 100%;
    transform-origin: left top;
}

.tooltip.tooltipLeft:hover.tooltip::before,
.tooltip.tooltipLeft:hover.tooltip::after {
    transform: scale(1) translateY(-50%);
}

.tooltip.tooltipBottom::before {
    top: calc(100% + 10px);
    left: 50%;
    transform-origin: left;
}

.tooltip.tooltipBottom::after {
    border-bottom-color: #333;
    top: 100%;
    border-top-width: 0;
    left: 50%;
    transform-origin: bottom;
}

.tooltip.tooltipBottom:hover.tooltip::before,
.tooltip.tooltipBottom:hover.tooltip::after {
    transform: scale(1) translateX(-50%);
}