.overlay {
    background-color: rgba(100, 100, 100, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.modal {
    position: fixed;
    top: -100%;
    left: 5rem;
    border: 0.1rem solid gray;
    padding: 1rem 2rem;
    height: 80vh;
    width: 80vw;
    justify-content: space-around;
    z-index: 999;
    background-color: #fff;
    overflow: auto;
    animation: dropDown 0.5s ease-in-out forwards;
}

@keyframes dropDown {
    from {
        top: -100%;
    }
    to {
        top: 5rem
    }
}

.closebutton {
    background-color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media screen and (max-width:600px) {
    .modal {
        padding: 0.5rem
    }
}